[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy-cockroachdb = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
WTForms = "*"
gunicorn = "*"
geopy = "*"

[requires]
python_version = "3.7"
