{% extends 'bootstrap/base.html' %}

{% block title%}MovR{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/movr.css') }}"/>
<div class="auth">
    <div class="container">
        <img class="logo" src="/static/img/horizontal-logo.png">
        <div class="row align-items-center">
            <div class="col-6">
                {% block content %}
                    {% if title %}
                    <h1>{{ title }}</h1>
                    {% endif %}
        
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
        
                    {% block app_content %}{% endblock %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <img src="/static/img/copyright.png">
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/theme.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}