{% extends 'bootstrap/base.html' %}

{% block title%}MovR{% endblock %}

{% block body %}
{% block navbar %}
{% include '_nav.html' %}
{% endblock %}
{% block content %}
{% if title %}
<h1 class="text-center">{{ title }}</h1>
<hr>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block app_content %}
{% endblock %}
{% endblock %}
{% endblock %}