{% extends 'layouts/main.html' %}
{% set active_page = "users" %}

{% block app_content %}

    {% for user in users %}
        <div class="users container">
            <div class="row">
                <div class="avatar">{{ user.first_name }}</div>

                <div class="col">
                    <div class="row">
                        <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                    </div>
                    <div class="row desc">
                        <div>
                            <div class="label">Home city</div> 
                            <bf class="text-capitalize">{{ user.city }}</bf>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}