{% extends 'layouts/main.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "user" %}

{% block app_content %}
{% if current_user.is_active %}
    <div class="profile text-center">
        <div class="avatar">{{ current_user.first_name }}</div>
        <h5>{{ current_user.first_name }} {{ current_user.last_name }}</h5>

        <div class="desc">
            <div class="label">User ID</div> 
        {{ current_user.id }}
        </div>

        <div class="desc">
            <div class="label">Home city</div> 
            <bf class="text-capitalize">{{ current_user.city }}</bf>
        </div>
    </div>
{% endif %}
{% if current_user.is_owner %}
    <div class="your-vheicles">
        <h3 class="text-center">Your vehicles</h4>

        <div class="container">
            <div class="row">
                {% for vehicle in vehicles %}
                    {% if vehicle.owner_id == current_user.id %}
                    <div class="col-4">
                        <div class="vehicle">
                            <div class="map">{{ vehicle.last_location }}|{{ API_KEY }}|{{vehicle.type}}</div>
                            <div class="content">
                                <div class="row">
                                    <h5>
                                        <bf class="text-capitalize">{{ vehicle.type }}</bf> 
                                    </h5>
                                </div>

                                <div class="row desc">
                                    <div>
                                        <div class="label">Location</div> 
                                        <bf class="text-capitalize">{{ vehicle.last_location }}</bf>
                                    </div>
                                </div>
                                
                                <div class="row desc">
                                    <div>
                                        <div class="label">Color</div> 
                                        <bf class="text-capitalize">{{ vehicle.color }}</bf>
                                    </div>
                                    <div>
                                        <div class="label">Brand</div> 
                                        <bf class="text-capitalize">{{ vehicle.brand }}</bf>
                                    </div>
                                </div>

                                <div class="row desc">
                                    <div>
                                        <div class="label">Date added</div> 
                                        <bf class="text-capitalize">{{ vehicle.date_added }}</bf>
                                    </div>
                                </div>
                    
                                <div class="row">
                                    <form class="form form-horizontal" method="POST" action="/vehicles/remove/{{ vehicle.id }}">
                                        
                                        {% if vehicle.status == 'available' %}
                                            <div class="status active">Available</div>
                                            <fieldset>
                                        {% else %}
                                            <div class="status unavailable">In use</div>
                                            <fieldset  disabled="disabled">
                                        {% endif %}
                                            {{ wtf.form_field(form_v.submit) }}
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if not current_user.is_owner %}
    <hr>
    <div class="text-center">
        <form class="form form-horizontal" method="POST" action="/users/remove/{{ current_user.id }}">
            {{ wtf.form_field(form_u.submit) }}
        </form>
    </div>
{% endif %}

{% endblock %}